<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Appel des bibliothèques Bootstrap & Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
              rel="stylesheet">
        <link href="{{ asset('bundles/hackathon/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <link href="{{ asset('bundles/hackathon/css/bootstrap-theme.min.css') }}"
              rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Appel des bibliothèques CSS -->

        <link href="{{ asset('bundles/hackathon/css/burger.css') }}"
              rel="stylesheet" />
        <link href="{{ asset('bundles/hackathon/css/stylesheet.css') }}"
              rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <input type="checkbox" id="menu-toggle" />
    <label id="trigger" for="menu-toggle"></label>
    <label id="burger" for="menu-toggle"></label>
    <ul id="menu">
        <li class="listeMenuBurger"><a href="{{ path('hackathon_homepage') }}">Accueil</a></li>
        <li class="listeMenuBurger"><a data-toggle="modal" data-target="#myModal" href="#">Se connecter</a></li>
        <li class="listeMenuBurger"><a href="{{ path('fos_user_security_login') }}">A propos !</a></li>
        <li class="listeMenuBurger"><a href="#">Contact</a></li>
    </ul>
        {% block body %}{% endblock %}

        <!-- Appel de jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- Appel de BootStrapJS -->
        <script src="{{ asset('bundles/hackathon/js/bootstrap.min.js') }}"></script>

        <!-- Appel de scripts autres -->

        <script src="{{ asset('bundles/hackathon/js/formulairejQuery.js') }}"></script>


        {% block javascripts %}{% endblock %}
    </body>
</html>
