{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('formulaire_vacances') }}" method="post" {{ form_enctype(form) }}>
    {{ form_start(form) }}

    {{ form(form) }}

        <input type="submit" name="previous" class="action-button" value="ENVOYER"/>

        {{ form_rest(form) }}
    {{ form_end(form) }}
    </form>

{% endblock %}
