{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hackathon/css/formulaireVacances.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/hackathon/css/googleMaps.css') }}" />
{% endblock %}

{% block body %}
    <form id="msform1" action="{{ path('formulaire_vacances') }}" method="post" {{ form_enctype(form) }}>
    {{ form_start(form) }}
        <fieldset class="smallbloc">
        <h2 class="fs-title">Organisez votre séjour</h2>

        {{ form_label(form.nom, "Nom :") }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}

        {{ form_label(form.lieu, "Lieu :") }}
        {{ form_errors(form.lieu) }}
        {{ form_widget(form.lieu) }}

        {{ form_label(form.dateDepart, "Date de départ :") }}
            <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ form_errors(form.dateDepart) }}
        {{ form_widget(form.dateDepart) }}

        {{ form_label(form.dateRetour, "Date de retour : ") }}
            <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ form_errors(form.dateRetour) }}
        {{ form_widget(form.dateRetour) }}

        {{ form_label(form.budget, "Budget :") }}
        {{ form_errors(form.budget) }}
        {{ form_widget(form.budget) }}

        {{ form_label(form.participants, "Participants :") }}
        {{ form_errors(form.participants) }}
        {{ form_widget(form.participants) }}
            <br/>
            <br/>
            <input type="button" name="next" class="next action-button boutonSuivant" value="Suivant"/>

        </fieldset>
    <div id="rechercheActivite">

        <div class="blocRechercheActiviteLeft">
            <div id="champRecherche">
                <input type="text" class="" id="searchAutoComplete"/><i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="" id="searchPlace"/><i class="fa fa-search" aria-hidden="true"></i>
                <button id="btnSearch">CLICK ME !!!</button>
            </div>
            <div id="APIMeteo">
                <!-- TODO: API Météo à intégrer -->
                <p>Bonjour</p>
            </div>
            <div id="ajoutActivite">
                {{ form_label(form.activites, 'Liste des activités') }}
                {{ form_errors(form.activites) }}
                {{ form_widget(form.activites) }}
                <input type="submit" name="previous" class="action-button" value="VALIDER"/>
            </div>
        </div>
    </form>
    </div>

    {{ form_rest(form) }}
        {{ form_end(form) }}
        <div class="blocRechercheActiviteRight">
            <div id="map"></div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript"
            src ="{{ asset('bundles/hackathon/plugins/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript"
            src ="{{ asset('bundles/hackathon/js/calendrier.js') }}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC7_au4kCmE4z4KuTD8HPkqjp-qSmgab5E">
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7_au4kCmE4z4KuTD8HPkqjp-qSmgab5E&libraries=places"></script>

    <script src="{{ asset('bundles/hackathon/js/googleMap.js') }}"></script>
    <script>
        var lieuVacances = $('#vacances_lieu');
        var lieuRechercheGoogleMaps = $('#searchAutoComplete');

        lieuVacances.change(function(){
            lieuRechercheGoogleMaps.val(lieuVacances.val());
            console.log(lieuRechercheGoogleMaps.val());
        });

        $('.boutonSuivant').click(function(){
            $('.smallbloc').hide();
        });
    </script>
{% endblock %}


